<main>

  <div class="main-img">
    <%= image_tag "/main-img.jpeg", class:"main_img" %>
  </div>
  <div class="main-img-text">
    <h1>〜 ようこそ　さくら鍼灸室へ 〜</h1>
  </div>
  <div class="menu" id="menu">
    <h1>MENU</h1>
    <p>診療メニュー</p>
    <ul class="menu-nav">
      <div class="menu-con1">
        <li><div class="menu-img"><%= image_tag "/menu-img1.webp" %></div><h3>ボディケア</h3><p>60分 6000円</p><p>90分 9000円</p></li>
        <li><div class="menu-img"><%= image_tag "/menu-img2.webp" %></div><h3>鍼灸マッサージ</h3><p>60分 6300円</p><p>90分 9300円</p></li>
      </div>
      <div class="menu-con2">
        <li><div class="menu-img"><%= image_tag "/menu-img3.webp" %></div><h3>美容鍼</h3><p>60分 8000円</p></li>
        <li><div class="menu-img"><%= image_tag "/menu-img4.webp" %></div><h3>アロマオイル</h3><p>30分 3000円</p></li>
      </div>
    </ul>
  </div>
  <div class="about" id="about">
    <div class="about-logo">
      <h1>ABOUT ME</h1>
      <p>社長紹介</p>
    </div>
    <div class="about-main">
      <div class="about-img"><%= image_tag "/about-img2.jpeg", class:"about_img" %></div>
      <div class="about-text"><p>[プロフィール]</p>
      <p class="about_text">
      鍼師。灸師。あん摩マッサージ指圧<br>
      2022年5月に品川区中延にさくら鍼灸室を開業しました。<br>
      鍼が初めてな方も安心して受けていただくためインフォームドコンセントを大事にしてます。<br>
      優しい鍼からはじめていきますのでなんでもお話しください。注目の美容鍼やアロマオイルマッサージも行っています。<br>
      日頃頑張っている皆様の固まった筋肉の改善やメンテナンスに貢献できればと思っています。<br><br>
      よろしくお願いします。
      </p><h2>竹吉　桜</h2>
      </div>
    </div>
  </div>
</main>
<div class="footer">
  <div class="map" id="map">
    
    <div class="map-text" id="map-sp">
      <div class="box" id="tel-sp">
        <h2>さくら鍼灸室</h2>
      </div>
      <p>
        住所： 東京都品川区<br>
        　　　 <span class="br1">中延1-9-8
        　ベルウッド102</span><br>
        電話： <a id="tel" href="tel:09026460684">090-2646-0684<br>
        メールアドレス：
        <ahref="mailto:sakurakairui92@icloud.com">sakurakairui92@icloud.com</a><br>
        <span class="br">営業時間：
        </span><a class="open-time">　8:00　〜　21:00</a>
      </p>
    </div>
    <div class="map-img">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d405.45302863693945!2d139.71098023491822!3d35.6123348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ac1de1ce97d%3A0x2072dd6ed71e1935!2z44CSMTQyLTAwNTMg5p2x5Lqs6YO95ZOB5bed5Yy65Lit5bu277yR5LiB55uu77yZ4oiS77yYIOODmeODq-OCpuODg-ODiQ!5e0!3m2!1sja!2sjp!4v1686732058360!5m2!1sja!2sjp" width="100%" height="400px" frameborder="0" style="border:0;"
      allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

</div>
<footer>
  <p>© All rights reserved by takechanmancampany.</p>
</footer>
