<div class="new-container">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>予定入力</h1>
    </div>
    <% @reservation.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
    <div class="col-12 mt-3 host-content">
      <%= form_with url:host_create_path, class: 'form' do |form| %>
      <div class="day form-group">
        <%= form.label :day, '日付' %>
        <div class="form-box">
          <%= form.text_field :day, name: 'day', class: 'form-control', value: @day, readonly: true %>
        </div>
      </div>
      <div class="host-new-time form-group">
        <p>開始時間</p>
        <div class="host-form-box">
          <%= form.number_field :s_time_hour,in: 8..21, name: 's_time_hour', class: 'host-form-control'%>
          <a>:</a>
          <%= form.number_field :s_time_minute,in: 0..30,step: 30, name: 's_time_minute', class: 'host-form-control'%>
        </div>
      </div>
      <div class="host-new-time  form-group">
        <p>終了時間</p>
        <div class="host-form-box">
          <%= form.number_field :e_time_hour,in: 8..21, name: 'e_time_hour', class: 'host-form-control'%>
          <a>:</a>
          <%= form.number_field :e_time_minute,in: 0..30,step: 30, name: 'e_time_minute', class: 'host-form-control'%>
        </div>
      </div>
        <%= form.hidden_field :tell,  value: @tell %>
        <%= form.hidden_field :name,  value: @name %>
        <%= form.hidden_field :time,  value: @time %>
    
      <div class="menu_select form-group">
        <div class="host-submit" id="submit">
          <%= form.submit value: '予定を入れる', class: 'submit_btn' %>
        </div>
      </div>
    <% end %>
    <div class="col-12 text-right">
      <%= link_to '戻る', host_path %>
    </div>
    </div>
  </div>
</div>