<div class="new-container">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>予約詳細</h1>
    </div>
    <% @reservation.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
    <div class="col-12 mt-3 content">
      <%= form_with url:booking_date_create_path, class: 'form' do |form| %>
      <div class="day form-group">
        <%= form.label :day, '日付' %>
        <div class="form-box">
          <%= form.text_field :day, name: 'day', class: 'form-control', value: @reservation.day, readonly: true %>
        </div>
      </div>
      <div class="time form-group">
        <%= form.label :s_time, '開始時間' %>
        <div class="form-box">
          <%= form.text_field :s_time, name: 's_time', class: 'form-control', value: @reservation.s_time, readonly: true %>
        </div>
      </div>
      <div class="time form-group">
        <%= form.label :e_time, '開始時間' %>
        <div class="form-box">
          <%= form.text_field :e_time, name: 'e_time', class: 'form-control', value: @reservation.e_time, readonly: true %>
        </div>
      </div>
      <div class="name form-group">
        <%= form.label :name,'名前' %>
        <div class="form-box">
          <%= form.text_field :name, name: 'name', class: 'form-control', value: @reservation.name,  readonly: true%>
        </div>
      </div>
      <div class="tell form-group">
        <%= form.label :tell,'電話番号' %>
        <div class="form-box">
          <%= form.text_field :tell, name: 'tell', class: 'form-control', value: @reservation.tell,  readonly: true%>
        </div>
      </div>
      <% menu_search %>
      <div class="menu_select form-group">
        <%= form.label :menu, 'メニュー' %>
        <div class="form-box">
        <%= form.text_field :menu, name:'menu', class: 'form-control', value: @menu, readonly: true%>
        </div>
      </div>
      <% option_search %>
      <div class="menu_select form-group">
        <%= form.label :option, 'オプション' %>
        <div class="form-box">
        <%= form.text_field :option, name:'option', class: 'form-control', value: @option, readonly: true%>
        </div>
      </div>
    <% end %>
    <%= form_with url:booking_delete_path, class: 'form' do |form| %>
      <div class="delete" id="delete">
        <%= form.submit value: '削除する', class: 'delete_btn submit_btn' %>
      </div>
      <%= form.hidden_field  :date_time, name:'date_time', class: 'form-control', value: @reservation.date_time%>
    <% end %>
    <div class="col-12 text-right">
      <%= link_to '戻る', host_path %>
    </div>
    </div>
  </div>
</div>