<div class="new-container">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>予約詳細</h1>
    </div>
    <% @reservation.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
    <div class="col-12 mt-3 content">
      <%= form_with model: @reservation, class: 'form' do |form| %>
      <div class="day form-group">
        <%= form.label :day, '日付' %>
        <div class="form-box">
          <%= form.text_field :day, name: 'day', class: 'form-control', value: @reservation.day, readonly: true %>
        </div>
      </div>
      <div class="time form-group">
        <%= form.label :s_time, '開始時間' %>
        <div class="form-box">
          <%= form.text_field :s_time, name: 's_time', class: 'form-control', value: @reservation.s_time, readonly: true %>
        </div>
      </div>
      <div class="time form-group">
        <%= form.label :e_time, '終了時間' %>
        <div class="form-box">
          <%= form.text_field :e_time, name: 'e_time', class: 'form-control', value: @reservation.e_time, readonly: true %>
        </div>
      </div>
      <div class="name form-group">
        <%= form.label :name,'名前' %>
        <div class="form-box">
          <%= form.text_field :name, name: 'name', class: 'form-control', value: @reservation.name,  readonly: true%>
        </div>
      </div>
      <div class="tell form-group">
        <%= form.label :tell,'電話番号' %>
        <div class="form-box">
          <%= form.text_field :tell, name: 'tell', class: 'form-control', value: @reservation.tell,  readonly: true%>
        </div>
      </div>
      <% menu_search %>
      <div class="menu_select form-group">
        <%= form.label :menu, 'メニュー' %>
        <div class="form-box">
        <%= form.text_field :menu, name:'menu', class: 'form-control', value: @menu, readonly: true%>
        </div>
      </div>
      <% option_search %>
      <div class="menu_select form-group">
        <%= form.label :option, 'オプション' %>
        <div class="form-box">
        <%= form.text_field :option, name:'option', class: 'form-control', value: @option, readonly: true%>
        </div>
      </div>
    <% end %>
    <div class="show-submit">
      <div class="text-right delete">
        <a id="delete-btn" class="show-delete">削除</a>
      </div>
      <div class="text-right confirma">
        <%= link_to '戻る', host_path, class: "show-confirma" %>
      </div>
    </div>
    <div class="delete-content">
      <h2>本当に削除しますか？</h2>
      <h3><input type="checkbox" id="delete_check" />本当に削除する場合はチェックしてください</h3>
      <% if check_this_reservation(@reservation) %>
        <%= form_with url:host_booking_delete_path do |f| %>
          <div class="content">
            
      <% else %> 
        <%= form_with url:booking_delete_path do |f| %>
          <div class="content">
            <div class="name form-group">
              <%= f.label :name,'名前' %>
              <div class="form-box">
                <%= f.text_field :name, name: "name",class: 'form-control', value: @reservation.name, readonly: true %>
              </div>
            </div>
            <div class="tell form-group">
              <%= f.label :tell,'電話番号' %>
              <div class="form-box">
                <%= f.text_field :tell, name: "tell",class: 'form-control', value: @reservation.tell, readonly: true %>
              </div>
            </div>
          </div>
          <div class="show-submit">
            <div class="text-right delete"> 
                <%= f.submit  value: '削除', class: " button-disabled", id: 'show_button_delete', disabled: true %>
                <%= f.hidden_field  :date_time, name:'date_time', class: 'form-control',  value: @reservation.date_time %>
            </div>
            <div class="text-right confirma">
              <a class="show-confirma" id="delete-content-out">戻る</a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
</div>