<div class="container">
  <%= link_to "HOMEへ", '/', data:{ no_turbolink: true }, class: "link-home" %>
  <% if flash[:notice].nil? %>
    <% a = 1 %>
  <% else %>
    <div class="flash">
      <% if flash[:notice].instance_of?(Array) %>
        <h2>以下のエラーが発生しました</h2>
          <% flash[:notice].each do |message| %>
            <div class="message">
              <li><%= message %></li>
            </div>
          <% end %>    
      <% else %>
        <%= flash[:notice] %> 
      <% end %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-12 text-center">
      <h1>予約画面</h1>
      <p>2ヶ月先まで予約することができます。</p>
      <p>当日の場合は電話でご確認ください。</p>
    </div>
    <!--
    <div class="select-day">
         <input type="number" ,name="select-day-year",
         min=<% Time.now.year %>, value=<%= Time.now.year %>>
         <input type="number", name="select-day-month" min="1",max="12", value=<%= Time.now.month %>>
         <input type="number" name="select-day-day" min="1", max= "31", value=<%= Time.now.day %>>
     </div>
     -->
    <div class="col-12 mt-3">
      <%= week_calendar events: @reservations do |date, reservations| %>
        <%= date.month %>
        <a> /</a>
        <%= date.day %>
      <% end %>
    </div>
  </div>
</div>
