<div class="container show-container">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>予約詳細画面</h1>
    </div>
    <div class= "content show-content">
      <div>
        <p class="label"><strong>日付：</strong></p>
        <p style="display:inline;" name="day"><%= @reservation.day %></p>
      </div>
      <div>
        <p class="label"><strong>開始時間：</strong></p>
        <p style="display:inline;" name="time"><%= @reservation.s_time %></p>
      </div>
      <div>
        <p class="label"><strong>終了時間：</strong></p>
        <p style="display:inline;" name="time"><%= @reservation.e_time %></p>
      </div>
      <div>
        <p class="label"><strong>電話番号：</strong></p>
        <p style="display:inline;" name="tell"><%= @reservation.tell %></p>
      </div>
      <div>
        <p class="label"><strong>メニュー：</strong></p>
        <p style="display:inline;" name="menu"><%= @menu %></p>
      </div>
      <div>
        <p class="label"
        ><strong>オプション：</strong></label>
        <p style="display:inline;" name="option"><%= @option %></p>
      </div>
      <div class="show-submit">
        <%= form_with url:booking_delete_path, class: 'show-form' do |form| %>
          <div class="text-right delete">
            <%= form.submit  value: '削除', class: "show-delete"%>
            <%= form.hidden_field  :date_time, name:'date_time', class: 'form-control', value: @reservation.date_time%>
          </div>
        <% end %>
        <div class="text-right confirma">
          <%= link_to '完了',booking_date_path, class: "show-confirma" %>
        </div>
      </div>
    </div>
  </div>
</div>