<!DOCTYPE html>
<html>
<head>
    <title>さくら鍼灸室 ー中延|戸越|荏原中延|戸越銀座|ー</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('/favicon.png') %>
    <script src="https://kit.fontawesome.com/97eef47411.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <html lang="ja">
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <div class="header-title"><h1>さくら鍼灸室</h1></div>
      <input type="checkbox" id="menu-btn-check">
      <label class="btn" for="menu-btn-check"><i class="fa-solid fa-bars fa-lg menu-icon"></i></label>
      <div class="menu-content">
        <div class="menu-con-text">
        </div>
        <label class="btn-close" for="menu-btn-check"><i class="fa-solid fa-xmark fa-lg menu-icon close"></i></label>
        <ul>
        <li><a class="gnav_link" href="#menu">診療メニュー</a></li>
        <li><a class="gnav_link" href="#about">社長紹介</a></li>
        <li><a class="gnav_link" href="#map">店舗概要</a></li>
        <li><a class="gnav_link" href="#tel">電話予約</a></li>
        <li><%= link_to("Web予約", "/booking", class:"booking-link") %></li>
        </ul>
      </div>
      <div class="header-nav">
      <ul>
        <li><a href="#menu">診療メニュー</a></li>
        <li><a href="#about">社長紹介</a></li>
        <li><a href="#map">店舗概要</a></li>
        <li><a href="#tel">電話予約</a></li>
        <li><%= link_to("Web予約", "/booking", class:"booking_link") %>
        </li>
      </ul>
      </div>
    </header>
    <%= yield %>
    
  </body>
</html>
