<!DOCTYPE html>
<html>
<head>
    <title>さくら鍼灸室 ー中延|戸越|荏原中延|戸越銀座|ー</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('/favicon.png') %>
    <script src="https://kit.fontawesome.com/97eef47411.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <html lang="ja">
    <meta charset="utf-8">
  </head>
  <body>
  <% if flash[:notice].nil? %>
    <% a = 1 %>
  <% else %>
    <div class="flash">
      <% if flash[:notice].instance_of?(Array) %>
        <h2>以下のエラーが発生しました</h2>
          <% flash[:notice].each do |message| %>
            <div class="message">
              <li><%= message %></li>
            </div>
          <% end %>    
      <% else %>
        <%= flash[:notice] %> 
      <% end %>
    </div>
  <% end %>
  <% if flash[:success].nil? %>
    <% a = 1 %>
  <% else %>
    <div class="success">
      <% if flash[:success].instance_of?(Array) %>
          <% flash[:success].each do |message| %>
            <div class="message">
              <li><%= message %></li>
            </div>
          <% end %>    
      <% else %>
        <%= flash[:success] %> 
      <% end %>
    </div>
  <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
